* {
    margin: 0;
    padding: 0;
    /*child container stays inside parent container */
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

button {
    position: relative;
    background-color: transparent;
    padding: 15px;

    border: #ff4a4a solid;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 0.8em #ff4a4a;
    box-shadow: inset 0 0 0.45em #ff4a4a, 0 0 0.45em #ff4a4a;
    transition: 300ms;
    transition-delay: 300ms;
}

button::before {
    /* shadow aktiviert nicht den button */
    pointer-events: none;
    content: "";
    position: absolute;
    background: #ff4a4a;
    top: 90%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(0.5em) scale(1, 0.5);
    filter: blur(1.5em);
    opacity: 0.5;
    transition: 300ms;
    transition-delay: 300ms;
}
button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em #ff4a4a;
    opacity: 0;
    transition: 300ms;
    transition-delay: 150ms;
}
button:hover,
/* focus for tab navigation */
button:focus {
    cursor: pointer;
    background: #ff4a4a;
    color: black;
    transition: 600ms;
    transition-delay: 300ms;
}
button:hover::after {
    opacity: 1;
}
button:hover::before {
    opacity: 0;
}
h1 {
    font-weight: 500;
    font-size: clamp(25px, 4vw, 50px);
    line-height: 88px;
    letter-spacing: -0.02em;
}

h1::before {
    content: "<h1>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}

h1::after {
    content: "</h1>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}

h2 {
    color: #ff4a4a;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.02em;
}
h2::before {
    content: "<h2>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}
h2::after {
    content: "</h2>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}

p::before {
    margin-bottom: 15px;
    content: "<p>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}

p::after {
    margin-top: 15px;
    content: "</p>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}

form::before {
    margin-bottom: 15px;
    content: "<form>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}
form::after {
    padding-top: 10px;
    margin-bottom: 15px;
    content: "</form>";
    display: block;
    font-family: Nothing You Could Do;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: clamp(16px, 1.5vw, 30px);
    letter-spacing: 0.1em;
}
